body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}
h1{
font-size:40px ;
}
.sp{
    color:blue;
}
.sec{
    display: flex;
    margin-bottom: 100px;
}
.border{
    border-left:5px solid darkblue;
}
.pro{
    width: 100%;
    padding: 40px;

}
.pro img{
    width:70%;
}
.link{
    text-decoration: none;
    background-color: darkblue;
    padding: 10px 20px;
    font-weight: 400;
    color: white;
    border-radius: 5px;

}
.shadow{
    box-shadow: 5px 10px 30px gray;
    border-radius: 20px;
    width: 30%;
    padding:2%;
    margin: 2%;

    
}
.frist{
    background-color: beige;
}
.second{
    background-color:antiquewhite;
}
.third{
    background-color: bisque;
}
.center{
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    background-color:darkblue;
}